* { 

border: 0;
margin: 0;
padding: 0;

}


header {
	text-align: center;
	bkackground-color:#800000;
	padding:1rem;
}
nav {
	background-color:#ac768e;
	margin-bottom:0;
	padding-bottom:0;

}
nav ul {
	list-style-type:none;
	text-align:center;
	padding:2%;
}
	
nav ul li a {
	color:white;
	text-decoration:none;
}
	


nav ul li {
	
	display:inline;
	font-size:1.75rem;
	font-family: 'Lato', sans-serif;
	color:white;
	padding: 3%;

}

.image img{
	width:300px;
	height:auto;
	max-width:600px;
}

h1 {
	font-size: 4rem;
	text-align:center;
	margin:2%;
}

h2 {
	font-size:2rem;
	text-align:center;
	margin:2%;
}



.flex figure img{
	width:200px;
	height:auto;
	max-width:400px;
}

.flex {
	display:flex;
	justify-content:center;
	gap: 2%;
	flex-wrap:wrap;
}

.borderfigure {
	border:5px solid transparent;
	border-radius: 10px
	overflow:hidden;
	text-align:center;
	position:relative;
	width:250px;
	background-color:white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin:10px;
	}
	
p {
	margin-bottom:40px;
}


.flex figure {
	text-align: center;
	margin: 0 1%;
}

figcaption {
	margin-top:10px;
	font-size:1.2rem;
	font-family: 'lato', sans-serif;
	color: #333333;
}

#contact {
	display: flex;
	justify-content: space-between;
	align-items:flex-start;
	gap:20px;
	margin: 2rem auto;
	max-width: 80%;
}

#contactform {
	background-color: purple;
	padding:20px 40px;
	width:40%;
	color:white;
	font-family: 'lato', sans-serif;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#contactform h3 {
	font-size:1.8rem;
	text-align:center;
	margin-bottom:10px;
	color: #ffffff;
	text-transform: uppercase;
}

#contactform label {
	font-size: 1.2rem;
	margin-bottom: 8px;
	display:block;
}
#contactform input[type="text"],
#contactform input[type="email"],
#contactform textarea {
	width:90%;
	padding:8px;
	margin-bottom:20px;
	border:none;

	font-size: 1rem;
	font-family: 'lato', sans-serif;
}
/*
#contactform label, #contactform h4{
	font-size:1.2rem;
	margin-bottom:10px;
}
#contactform input, #contactform textarea {
	width:100%;
	padding:10px;
	margin-bottom:15px;
	border:none;
	border-radius:5px;
}
*/
#contactform input[type="radio"]
{
	margin-right:10px;
}
#contactform input[type="submit"] {
	background-color: orange;
	color:white;
	padding: 8px 15px;
	border: none;
	cursor: pointer;
	font-size:1rem;
}

#contactform h4 {
	margin 15px 0 8px;
	font-size:1rem;
}

#contactform input[type="submit"]:hover {
	background-color: #e65100;
}

#imgflorsit{
	width:40%;
}
#imgflorist img{
	width:100%;
	max-width:446px;
	padding:8px;
	border: 4px solid pink;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}