* { 

border: 0;
margin: 0;
padding: 0;

}


header {
	text-align: center;
	bkackground-color:#800000;
	padding:1rem;
}
nav {
	background-color:#ac768e;
	margin-bottom:0;
	padding-bottom:0;

}
nav ul {
	list-style-type:none;
	text-align:center;
	padding:2%;
}
	
nav ul li a {
	color:white;
	text-decoration:none;
}
	


nav ul li {
	
	display:inline;
	font-size:1.75rem;
	font-family: 'Lato', sans-serif;
	color:white;
	padding: 3%;

}

.image img{
	width:300px;
	height:auto;
	max-width:600px;
}

h1 {
	font-size: 4rem;
	text-align:center;
	margin:2%;
}

h2 {
	font-size:2rem;
	text-align:center;
	margin:2%;
}

.flex figure img{
	width:200px;
	height:auto;
	max-width:400px;
}